body{
    background-color: #2e2e2e;
    margin: 0;
    min-height: 100vh;
    max-height: 100vh ;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

a{
    text-decoration: none;
}
.img{
    width: 250px;
    height: 350px;
    margin-left: 20px;
}
.img-cabecalho{
    height: 100px;
}
.div-films{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecalho{
    background-color: #47141e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.lupa-cab{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-left: -190px;
}
input[type=submit] {
    background-image:url(/InterCine/img/lupa.png);
    text-indent:-9999px;
}
.lupa-cab:hover{
    -webkit-animation: bounce 0.9s ease-out;
    animation: bounce 0.9s ease-out;
}
.img:hover{
    -webkit-animation: bounce 0.9s ease-out;
    animation: bounce 0.9s ease-out;
}

@-webkit-keyframes bounce{
    0% { -webkit-transform: scale(1.0); }
    10% { -webkit-transform: scale(1.2); }
    20% { -webkit-transform: scale(1.3); }    
    30% { -webkit-transform: scale(1.2); }
    40% { -webkit-transform: scale(1.0); } 
    50% { -webkit-transform: scale(1.1); }
    60% { -webkit-transform: scale(1.0); } 
    70% { -webkit-transform: scale(1.05);}
    80% { -webkit-transform: scale(1.0); } 
    90% { -webkit-transform: scale(1.02);}    
    100% { -webkit-transform: scale(1.0); }   
}
@keyframes bounce {
    0% { transform: scale(1.0); }
    10% { transform: scale(1.2); }
    20% { transform: scale(1.3); }    
    30% { transform: scale(1.2); }
    40% { transform: scale(1.0); } 
    50% { transform: scale(1.1); }
    60% { transform: scale(1.0); } 
    70% { transform: scale(1.05);}
    80% { transform: scale(1.0); } 
    90% { transform: scale(1.02);}    
    100% { transform: scale(1.0); }    
}
.navega{
    border-bottom: solid 2px red;
    color: whitesmoke;
    margin-right: 20px;
    cursor: pointer;
}
.navega:hover{
    color: #cb7169;
    transition-duration: 0.5s;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 60px;
}
.sin{
    color: aliceblue;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.sin-text{
    color: beige;
}
.input-cab{
    overflow: hidden;
    text-align: center;
    border-radius: 50px;
    height: 30px;
    width: 250px;
}
.seta{
    width: 35px;
    height: 35px;
}
.vira{
    transform: rotate(180deg);
}